/* CSS Document */

// Root
$font-size-base: 62.5%;

// Colors
$color-primary: #6398B7;
$color-light: #C1CDD4;
$color-dark: #4D4C4A;
$color-secondary: #E2C044;
$color-black: #14191C;
$color-white: white;

$shadow-primary: rgba(19, 24, 27, 0.53);

// Typographic
$font-family: 'Open Sans', sans-serif;
$font-size: 16;